<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-gás</title>
    <link rel="stylesheet" href="styles/charts.css">
</head>
<body>
    <header>
        <img src="images/logo_egas.svg" class="logo"alt="logo">
        <nav>
            <ul class = "nav_links">
                <li><a href="charts.html">Gráficos</a></li>
                <li><a href="cylinders.html">Botijões</a></li>
                <li><a href="profile.html">Perfil</a></li>
            </ul>
        </nav>
        <a class="cta" href="index.html"><button class="contact">Principal</button></a>
    </header>
    <canvas id="charts"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="javascript/charts.js"></script>
</body>
</html>
