<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>E-gás</title>
  <link rel="stylesheet" href="styles/forgotpsw.css">
</head>

<body>

  <div class="imgcontainer">
    <img src="images/egas_logoimg.png" alt="Avatar" class="avatar">
  </div>
  <form id="forgot_form">
  <div class="container">
    <label for="email"><strong>Email de Recuperação</strong></label>
    <input id="email" type="text" placeholder="Digite o email de recuperação" name="email" required>

    <button type="submit">Enviar</button>

    <button type="reset" class="cancelbtn">Cancel</button>
    <span class="login">Deseja <a href="login.html">fazer login</a>?</span>
  </div>
</form>
</body>
<script src="javascript/forgotpsw.js"></script>
</html>