<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>E-gás</title>
  <link rel="stylesheet" href="/styles/newpsw.css">
</head>

<body>

  <div class="imgcontainer">
    <img src="/images/egas_logoimg.png" alt="Avatar" class="avatar">
  </div>
  <form id="newpsw_form">
  <div class="container">
    <label for="password"><strong>Digite sua nova senha</strong></label>
    <input id="password" type="password" placeholder="Digite a nova senha" name="psw" required>

    <button type="submit">Enviar</button>

    <button type="reset" class="cancelbtn">Cancel</button>
    <span class="login">Deseja <a href="/login.html">fazer login?</a></span>
  </div>
</form>
</body>
<script src="/javascript/newpsw.js"></script>
</html>