<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-gás</title>
    <link rel="stylesheet" href="styles/profile.css">
</head>
<body>
    <header>
        <img src="images/logo_egas.svg" class="logo"alt="logo">
        <nav>
            <ul class = "nav_links">
                <li><a href="charts.html">Gráficos</a></li>
                <li><a href="cylinders.html">Botijões</a></li>
                <li><a href="profile.html">Perfil</a></li>
            </ul>
        </nav>
        <a class="cta" href="index.html"><button class="contact">Principal</button></a>
        <button class="logoff" onclick="logoff()">Logoff</button>
    </header>
        <div  class="imgdiv">
            <img src="images/egas_logoimg.png" alt="Logo E-gás" class="img_logo">
        </div>
        <div class="flex-container" >
            <div>
               <span>Username</span>
               <div class="flex-child" id="name"></div>
               <span>Email</span>
               <div class="flex-child" id="email"></div>
               <span>Created at</span>
               <div class="flex-child" id="created"></div>
   <script src="javascript/profile.js"></script>
</body>
</html>